<div class="editor">
  <form>
    <div class="cf image-upload">
      <div class="dropzone" id="dropzone">drop new image here</div>
    </div>
    <label for="scale">Resize image</label>
    <input id="scale" type="range" max="4" min=".01" step=".01" value="1">
    <label for="headline">Headline</label>
    <div class="cf">
      <input id="headline" name="headline" type="text" value="I'm a headline. Yo. What's up?">
      <select id="fontsize">
        <option value="smaller" data-height="26">smaller</option>
        <option value="default" data-height="30" selected>default size</option>
        <option value="bigger" data-height="38">bigger</option>
        <option value="huge" data-height="50">huge</option>
      </select>
      <div id="fontweight">
        <input type="radio" name="fontweight" value="normal" id="fontweight-normal" checked="checked">
          <label for="fontweight-normal" id="fontweight-normal-label">Normal</label>
        <input type="radio" name="fontweight" value="bold" id="fontweight-bold">
          <label for="fontweight-bold" id="fontweight-bold-label">Bold</label>
        <input type="radio" name="fontweight" value="italic" id="fontweight-italic">
          <label for="fontweight-italic" id="fontweight-italic-label">Italic</label>
        <input type="radio" name="fontweight" value="bolditalic" id="fontweight-bolditalic">
          <label for="fontweight-bolditalic" id="fontweight-bolditalic-label">B/I</label>
      </div>
      <select id="fontfamily">
        <option value="" disabled>Select a font</option>
        <option value="Myriad Pro" selected>Myriad Pro</option>
        <option value="Meta Serif OT">Meta Serif OT</option>
        <option value="Meta Serif Offc">Meta Serif Offc</option>
        <option value="Helvetica">Helvetica</option>
        <option value="Helvetica Neue">Helvetica Neue</option>
        <option value="Comic Sans MS">Comic Sans MS</option>
      </select>
      <input id="fontfamily_freeform" type="text" placeholder="Font family (free form)">
    </div>
    <label for="credit">Credit</label>
    <input id="credit" name="credit" type="text" value="Source: ">
    <fieldset>
      <label class="left" for="overlay">Overlay: </label>
      <div class="overlay overlay-black" data-color="black">x</div>
      <div class="overlay overlay-darkblue" data-color="darkblue">x</div>
      <div class="overlay overlay-grey overlay-active" data-color="grey">x</div>
    </fieldset>
    <fieldset>
      <select id="alignment">
        <option value="left"selected>left align</option>
        <option value="center">center align</option>
        <option value="right">right align</option>
      </select>
    </fieldset>
    <fieldset>
      <input id="shadow" name="shadow" type="checkbox">
      <label for="shadow">Highlight text</label>
    </fieldset>
    <div id="logo">
    <label style="font-weight:bold">Logo</label>
    <br>
      <input type="radio" name="logo" value="light" id="logo-light" checked="checked">
        <label for="logo-light" id="logo-light-label">Light</label>
      <input type="radio" name="logo" value="dark" id="logo-dark">
        <label for="logo-dark" id="logo-dark-label">Dark</label>
      <input type="radio" name="logo" value="none" id="logo-none">
        <label for="logo-none" id="logo-none-label">None</label>
    </div>
  </form>
</div>
