<form class="m-editor" id="meme-editor-view">
  <div class="dropzone" id="dropzone">Déposez l'image ici</div>
  
  <h2><label for="image-scale">Taille de l'image</label></h2>
  <input id="image-scale" type="range" max="4" min=".01" step=".01" value="1">
  
  <h2><label for="headline">Titre</label></h2>
  <textarea id="headline" name="headline" type="text" value=""></textarea>
  
  <select class="text-align" id="text-align">
    <option value="" disabled>Alignement du texte</option>
  </select>

  <select class="font-size" id="font-size">
    <option value="" disabled>Taille de la police</option>
  </select>

  <select class="font-family" id="font-family">
    <option value="" disabled>Police de caractères</option>
  </select>
  
  <select class="font-color" id="font-color">
    <option value="" disabled>Couleur de la police</option>
  </select>

  <div class="checkbox-group text-shadow">
    <input id="text-shadow" name="shadow" type="checkbox"> 
    <label for="text-shadow">Ombre autour du texte</label>
  </div>

  <select class="watermark" id="watermark">
    <option value="" disabled>Logo</option>
  </select>

  <h2><label for="credit">Signature</label></h2>
  <input id="credit" name="credit" type="text" value="">

  <div class="m-editor__overlay" id="overlay">
    <h2>Couleur de fond</h2>
    <ul class="checkbox-group">
      <li><label><input type="radio" name="overlay" value=""> Aucune</label></li>
    </ul>
  </div>
</form>
