$editor-width: 345px;

.editor {
  float: left;
  padding-left: 2em;
  width: $editor-width;
  .image-upload {
    margin-bottom: 1em;
    @media ( max-width: 1100px ) {
      width: 100%;
    }
  }
  .dropzone {
    border: 2px dashed #efefef;
    color: #6a6a69;
    display: table-cell;
    font-size: 18px;
    font-weight: 700;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    width: $editor-width;
    @media ( max-width: 1100px ) {
      width: 100%;
    }
  }
  #header {
    margin-bottom: 0;
  }
  #fontsize {
    width: 100%;
  }
  #fontsize {
    margin-bottom: 0
  }
  #fontweight {
    margin: 0;
  }
  #fontweight label {
    display: inline;
    margin-left: 0em;
    margin-right: 0.5em;
  }
  #fontweight-normal-label {
    font-weight: normal;
    font-style: normal;
  }
  #fontweight-bold-label {
    font-weight: bold;
    font-style: normal;
  }
  #fontweight-italic-label {
    font-weight: normal;
    font-style: italic;
  }
  #fontweight-bolditalic-label {
    font-weight: bold;
    font-style: italic;
  }
  #logo {
    margin-top: 1em;
    clear: both;
    display: block;
  }
  #logo label {
    display: inline;
    margin-left: 0em;
    margin-right: 1em;
    font-weight: normal;
  }
  .overlay {
    cursor: pointer;
    float: left;
    line-height: 12px;
    margin: 2px 5px;
    padding: 3px 5px 5px 5px;
  }
  .overlay-black {
    background-color: #000;
    color: #000;
  }
  .overlay-grey {
    background-color: #999;
    color: #999;
  }
  .overlay-blue {
    background-color: rgb( 52, 152, 219 );
    color: rgb( 52, 152, 219 );
  }
  .overlay-darkblue {
    background-color: rgb( 6, 62, 116 );
    color: rgb( 6, 62, 116 );
  }
  .overlay-active {
    color: #fff;
  }
  @media ( max-width: 1100px ) {
    padding: 1em;
    width: 100%;
  }
}
